# S14 T01: Tasca base de dades NoSQL

In [1]:
import pymongo
from pymongo import MongoClient
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Exercici 1. Crea una base de dades NoSQL utilitzant MongoDB. Afegeix-li algunes dades d'exemple que et permetin comprovar que ets capaç de processar-ne la informació de manera bàsica.

Importem un arxiu csv a MongoDB des del sistema, no des de Mongo Shell (mongosh), per crear una base de dades.

~~~
base) rusi@rusi-desktop:~$ mongoimport --db=seleccio --collection=jugadors --type=csv --headerline --file=/home/rusi/Escritorio/rubenIT/DataSources/jugadores00.csv
2022-06-01T19:28:01.524+0200	connected to: mongodb://localhost/
2022-06-01T19:28:01.548+0200	654 document(s) imported successfully. 0 document(s) failed to import.
~~~

Un cop afegides les dades, comprovem que s'han carregat correctament des de la línia del sistema.

~~~
(base) rusi@rusi-desktop:~$ sudo mongo seleccio
[sudo] contraseña para rusi:             
MongoDB shell version v5.0.9
connecting to: mongodb://127.0.0.1:27017/seleccio?compressors=disabled&gssapiServiceName=mongodb
Implicit session: session { "id" : UUID("ccf75cf9-0d47-4d37-86eb-5bfe95673cf1") }
MongoDB server version: 5.0.9
================
Warning: the "mongo" shell has been superseded by "mongosh",
which delivers improved usability and compatibility.The "mongo" shell has been deprecated and will be removed in
an upcoming release.
For installation instructions, see
https://docs.mongodb.com/mongodb-shell/install/
================
Welcome to the MongoDB shell.
For interactive help, type "help".
For more comprehensive documentation, see
	https://docs.mongodb.com/
Questions? Try the MongoDB Developer Community Forums
	https://community.mongodb.com
---
The server generated these startup warnings when booting: 
        2022-06-01T18:50:23.459+02:00: Using the XFS filesystem is strongly recommended with the WiredTiger storage engine. See http://dochub.mongodb.org/core/prodnotes-filesystem
        2022-06-01T18:50:24.060+02:00: Access control is not enabled for the database. Read and write access to data and configuration is unrestricted
---
---
        Enable MongoDB's free cloud-based monitoring service, which will then receive and display
        metrics about your deployment (disk utilization, CPU, operation statistics, etc).

        The monitoring data will be available on a MongoDB website with a unique URL accessible to you
        and anyone you share the URL with. MongoDB may use this information to make product
        improvements and to suggest MongoDB products and deployment options to you.

        To enable free monitoring, run the following command: db.enableFreeMonitoring()
        To permanently disable this reminder, run the following command: db.disableFreeMonitoring()
~~~

Després fem unes consultes senzilles per familiaritzar-nos amb el llenguatge de la base de dades.

~~~
> db.jugadors.findOne()
{
	"_id" : ObjectId("6297a1a1a8704dcbc3d609f5"),
	"Apodo" : "Piquer",
	"Nombre" : "Vicente Piquer Mora",
	"Fecha" : "24/02/1935",
	"Ciudad" : "Algar de Palancia",
	"Provincia" : "Valencia",
	"País" : "España",
	"PJ" : 1,
	"PT" : 1,
	"PC" : 1,
	"PS" : 0,
	"PX" : 0,
	"PG" : 0,
	"PE" : 1,
	"PP" : 0,
	"Min" : 90,
	"G" : 0,
	"GP" : 0,
	"GPP" : 0,
	"GE" : 0,
	"TA" : 0,
	"TR" : 0,
	"EI" : 26,
	"EF" : 26,
	"Altura" : 173,
	"Peso" : 71
}
> db.jugadors.count()
654
~~~

~~~
> db.jugadors.findOne({Provincia: "Valencia" })
{
	"_id" : ObjectId("6297a1a1a8704dcbc3d609f5"),
	"Apodo" : "Piquer",
	"Nombre" : "Vicente Piquer Mora",
	"Fecha" : "24/02/1935",
	"Ciudad" : "Algar de Palancia",
	"Provincia" : "Valencia",
	"País" : "España",
	"PJ" : 1,
	"PT" : 1,
	"PC" : 1,
	"PS" : 0,
	"PX" : 0,
	"PG" : 0,
	"PE" : 1,
	"PP" : 0,
	"Min" : 90,
	"G" : 0,
	"GP" : 0,
	"GPP" : 0,
	"GE" : 0,
	"TA" : 0,
	"TR" : 0,
	"EI" : 26,
	"EF" : 26,
	"Altura" : 173,
	"Peso" : 71
}
~~~

~~~
> db.jugadors.find({Provincia: "Barcelona" }).limit(5)
{ "_id" : ObjectId("6297a1a1a8704dcbc3d609fa"), "Apodo" : "Cucurella", "Nombre" : "Marc Cucurella Saseta", "Fecha" : "22/07/1998", "Ciudad" : "Alella", "Provincia" : "Barcelona", "País" : "España", "PJ" : 1, "PT" : 1, "PC" : 0, "PS" : 0, "PX" : 1, "PG" : 1, "PE" : 0, "PP" : 0, "Min" : 46, "G" : 0, "GP" : 0, "GPP" : 0, "GE" : 0, "TA" : 0, "TR" : 0, "EI" : 22, "EF" : 22, "Altura" : 172, "Peso" : 68 }
{ "_id" : ObjectId("6297a1a1a8704dcbc3d60a0a"), "Apodo" : "Manchón", "Nombre" : "Eduardo Manchón Molina", "Fecha" : "24/07/1930", "Ciudad" : "Barcelona", "Provincia" : "Barcelona", "País" : "España", "PJ" : 1, "PT" : 1, "PC" : 1, "PS" : 0, "PX" : 0, "PG" : 0, "PE" : 0, "PP" : 1, "Min" : 90, "G" : 0, "GP" : 0, "GPP" : 0, "GE" : 0, "TA" : 0, "TR" : 0, "EI" : 23, "EF" : 23, "Altura" : 168, "Peso" : 62 }
{ "_id" : ObjectId("6297a1a1a8704dcbc3d60a0b"), "Apodo" : "Fortes", "Nombre" : "Francisco Fortes Calvo", "Fecha" : "04/01/1955", "Ciudad" : "Barcelona", "Provincia" : "Barcelona", "País" : "España", "PJ" : 1, "PT" : 0, "PC" : 0, "PS" : 1, "PX" : 0, "PG" : 0, "PE" : 1, "PP" : 0, "Min" : 14, "G" : 0, "GP" : 0, "GPP" : 0, "GE" : 0, "TA" : 0, "TR" : 0, "EI" : 20, "EF" : 20, "Altura" : 170, "Peso" : 70 }
{ "_id" : ObjectId("6297a1a1a8704dcbc3d60a0e"), "Apodo" : "Puado", "Nombre" : "Javier Puado Díaz", "Fecha" : "25/05/1998", "Ciudad" : "Barcelona", "Provincia" : "Barcelona", "País" : "España", "PJ" : 1, "PT" : 0, "PC" : 0, "PS" : 1, "PX" : 0, "PG" : 1, "PE" : 0, "PP" : 0, "Min" : 37, "G" : 1, "GP" : 0, "GPP" : 0, "GE" : 0, "TA" : 0, "TR" : 0, "EI" : 23, "EF" : 23, "Altura" : 177, "Peso" : 69 }
{ "_id" : ObjectId("6297a1a1a8704dcbc3d60a0f"), "Apodo" : "Raya", "Nombre" : "David Raya Martín", "Fecha" : "15/09/1995", "Ciudad" : "Barcelona", "Provincia" : "Barcelona", "País" : "España", "PJ" : 1, "PT" : 1, "PC" : 1, "PS" : 0, "PX" : 0, "PG" : 1, "PE" : 0, "PP" : 0, "Min" : 90, "G" : 0, "GP" : 0, "GPP" : 0, "GE" : 1, "TA" : 0, "TR" : 0, "EI" : 26, "EF" : 26, "Altura" : 183, "Peso" : 80 }
~~~

## Exercici 2. Connecta la base de dades NoSQL a Python utilitzant per exemple pymongo.

Realitzem la connexió a MongoDB i comprovem que existeix.

In [2]:
myclient = pymongo.MongoClient("mongodb://localhost:27017/")

In [3]:
mydb = myclient["seleccio"]

In [4]:
print(myclient.list_database_names())

['admin', 'config', 'local', 'seleccio']

## Exercici 3. Carrega algunes consultes senzilles a un Pandas Dataframe.

### Fem 4 queries des de Python i les convertim a Pandas.
1. Consulta de selecció de jugadors nascuts a Sabadell.
2. Consulta països de naixement dels jugadors.
3. Consulta d'un jugador en concret.
4. Consulta de tots els jugadors entre dues alçades.

In [5]:
#Consulta dels jugadors que han jugat a la selecció i van nèixer a Sabadell
mycol = mydb["jugadors"]
myquery = { "Ciudad": { "$regex": "^Sabad" } }

mydoc = mycol.find(myquery)

for x in mydoc:
  print(x)

{'_id': ObjectId('6297a1a1a8704dcbc3d60b8c'), 'Apodo': 'Eladio', 'Nombre': 'Eladio Silvestre Graells', 'Fecha': '18/11/1940', 'Ciudad': 'Sabadell', 'Provincia': 'Barcelona', 'País': 'España', 'PJ': 10, 'PT': 10, 'PC': 9, 'PS': 0, 'PX': 0, 'PG': 4, 'PE': 4, 'PP': 2, 'Min': 873, 'G': 0, 'GP': 0, 'GPP': 0, 'GE': 0, 'TA': 0, 'TR': 1, 'EI': 25, 'EF': 29, 'Altura': 179.0, 'Peso': 80.0}
{'_id': ObjectId('6297a1a1a8704dcbc3d60bb4'), 'Apodo': 'Marcelino', 'Nombre': 'Marcelino Pérez Ayllón', 'Fecha': '13/08/1955', 'Ciudad': 'Sabadell', 'Provincia': 'Barcelona', 'País': 'España', 'PJ': 13, 'PT': 12, 'PC': 11, 'PS': 1, 'PX': 1, 'PG': 7, 'PE': 2, 'PP': 4, 'Min': 1043, 'G': 0, 'GP': 0, 'GPP': 0, 'GE': 0, 'TA': 1, 'TR': 0, 'EI': 22, 'EF': 23, 'Altura': 171.0, 'Peso': 68.0}
{'_id': ObjectId('6297a1a1a8704dcbc3d60bb5'), 'Apodo': 'Olmo', 'Nombre': 'Antonio Olmo Ramírez', 'Fecha': '18/01/1954', 'Ciudad': 'Sabadell', 'Provincia': 'Barcelona', 'País': 'España', 'PJ': 13, 'PT': 9, 'PC': 8, 'PS': 4, 'PX': 1, 'PG': 7, 'PE': 2, 'PP': 4, 'Min': 956, 'G': 0, 'GP': 0, 'GPP': 0, 'GE': 0, 'TA': 1, 'TR': 0, 'EI': 23, 'EF': 26, 'Altura': 181.0, 'Peso': 79.0}
{'_id': ObjectId('6297a1a1a8704dcbc3d60c7f'), 'Apodo': 'Busquets', 'Nombre': 'Sergio Busquets Burgos', 'Fecha': '16/07/1988', 'Ciudad': 'Sabadell', 'Provincia': 'Barcelona', 'País': 'España', 'PJ': 133, 'PT': 119, 'PC': 89, 'PS': 14, 'PX': 30, 'PG': 94, 'PE': 20, 'PP': 19, 'Min': 10570, 'G': 2, 'GP': 0, 'GPP': 0, 'GE': 0, 'TA': 23, 'TR': 0, 'EI': 20, 'EF': 32, 'Altura': 189.0, 'Peso': 76.0}

In [6]:
#Conversió a Pandas Dataframe
df_filtre_sabadell = pd.DataFrame(list(mycol.find(myquery)))
print(df_filtre_sabadell.head())
print(df_filtre_sabadell.info())

                        _id      Apodo                    Nombre       Fecha  \
0  6297a1a1a8704dcbc3d60b8c     Eladio  Eladio Silvestre Graells  18/11/1940
1  6297a1a1a8704dcbc3d60bb4  Marcelino    Marcelino Pérez Ayllón  13/08/1955
2  6297a1a1a8704dcbc3d60bb5       Olmo      Antonio Olmo Ramírez  18/01/1954
3  6297a1a1a8704dcbc3d60c7f   Busquets    Sergio Busquets Burgos  16/07/1988

     Ciudad  Provincia    País   PJ   PT  PC  ...  G  GP  GPP  GE  TA  TR  EI  \
0  Sabadell  Barcelona  España   10   10   9  ...  0   0    0   0   0   1  25
1  Sabadell  Barcelona  España   13   12  11  ...  0   0    0   0   1   0  22
2  Sabadell  Barcelona  España   13    9   8  ...  0   0    0   0   1   0  23
3  Sabadell  Barcelona  España  133  119  89  ...  2   0    0   0  23   0  20

   EF  Altura  Peso
0  29   179.0  80.0
1  23   171.0  68.0
2  26   181.0  79.0
3  32   189.0  76.0

[4 rows x 26 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 26 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   _id        4 non-null      object
 1   Apodo      4 non-null      object
 2   Nombre     4 non-null      object
 3   Fecha      4 non-null      object
 4   Ciudad     4 non-null      object
 5   Provincia  4 non-null      object
 6   País       4 non-null      object
 7   PJ         4 non-null      int64
 8   PT         4 non-null      int64
 9   PC         4 non-null      int64
 10  PS         4 non-null      int64
 11  PX         4 non-null      int64
 12  PG         4 non-null      int64
 13  PE         4 non-null      int64
 14  PP         4 non-null      int64
 15  Min        4 non-null      int64
 16  G          4 non-null      int64
 17  GP         4 non-null      int64
 18  GPP        4 non-null      int64
 19  GE         4 non-null      int64
 20  TA         4 non-null      int64
 21  TR         4 non-null      int64
 22  EI         4 non-null      int64
 23  EF         4 non-null      int64
 24  Altura     4 non-null      float64
 25  Peso       4 non-null      float64
dtypes: float64(2), int64(17), object(7)
memory usage: 960.0+ bytes
None

In [7]:
#Consulta dels països de naixement en ordre ascendent
mydoc = mydb.jugadors.distinct("País")

for x in mydoc:
  print(x)

Alemania
Argentina
Brasil
Dinamarca
España
Francia
Guinea Ecuatorial
Guinea-Bisáu
Hungría
Italia
Marruecos
Mauritania
Paraguay
Suiza
Uruguay

In [8]:
#Conversió a Pandas Dataframe
df_filtre_pais = pd.DataFrame(list(mydoc))
print(df_filtre_pais.head())
print(df_filtre_pais.info())

           0
0   Alemania
1  Argentina
2     Brasil
3  Dinamarca
4     España
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       15 non-null     object
dtypes: object(1)
memory usage: 248.0+ bytes
None

In [9]:
#Busquem les dades de Luis Enrique en la seva època de jugador
myquery = { "Apodo": "Luis Enrique" }

mydoc = mycol.find(myquery)

for x in mydoc:
  print(x)

{'_id': ObjectId('6297a1a1a8704dcbc3d60c66'), 'Apodo': 'Luis Enrique', 'Nombre': 'Luis Enrique Martínez García', 'Fecha': '08/05/1970', 'Ciudad': 'Gijón', 'Provincia': 'Asturias', 'País': 'España', 'PJ': 62, 'PT': 54, 'PC': 36, 'PS': 8, 'PX': 18, 'PG': 36, 'PE': 18, 'PP': 8, 'Min': 4632, 'G': 12, 'GP': 0, 'GPP': 0, 'GE': 0, 'TA': 8, 'TR': 0, 'EI': 20, 'EF': 32, 'Altura': 180.0, 'Peso': 73.0}

In [10]:
#Conversió a Pandas Dataframe
df_filtre_unjugador = pd.DataFrame(list(mycol.find(myquery)))
print(df_filtre_unjugador.head())
print(df_filtre_unjugador.info())

                        _id         Apodo                        Nombre  \
0  6297a1a1a8704dcbc3d60c66  Luis Enrique  Luis Enrique Martínez García

        Fecha Ciudad Provincia    País  PJ  PT  PC  ...   G  GP  GPP  GE  TA  \
0  08/05/1970  Gijón  Asturias  España  62  54  36  ...  12   0    0   0   8

   TR  EI  EF  Altura  Peso
0   0  20  32   180.0  73.0

[1 rows x 26 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 26 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   _id        1 non-null      object
 1   Apodo      1 non-null      object
 2   Nombre     1 non-null      object
 3   Fecha      1 non-null      object
 4   Ciudad     1 non-null      object
 5   Provincia  1 non-null      object
 6   País       1 non-null      object
 7   PJ         1 non-null      int64
 8   PT         1 non-null      int64
 9   PC         1 non-null      int64
 10  PS         1 non-null      int64
 11  PX         1 non-null      int64
 12  PG         1 non-null      int64
 13  PE         1 non-null      int64
 14  PP         1 non-null      int64
 15  Min        1 non-null      int64
 16  G          1 non-null      int64
 17  GP         1 non-null      int64
 18  GPP        1 non-null      int64
 19  GE         1 non-null      int64
 20  TA         1 non-null      int64
 21  TR         1 non-null      int64
 22  EI         1 non-null      int64
 23  EF         1 non-null      int64
 24  Altura     1 non-null      float64
 25  Peso       1 non-null      float64
dtypes: float64(2), int64(17), object(7)
memory usage: 336.0+ bytes
None

In [11]:
#Consulta jugadors més alts o igual a 1.85 metres i menors o iguals a 1.90 metres
myquery = { "Altura": { "$gte": 185.0, "$lte": 190.0 } }

mydoc = mycol.find(myquery)

for x in mydoc:
  print(x)

{'_id': ObjectId('6297a1a1a8704dcbc3d609f9'), 'Apodo': 'Etxeita', 'Nombre': 'Xabier Etxeita Gorritxategi', 'Fecha': '31/10/1987', 'Ciudad': 'Amorebieta-Etxano', 'Provincia': 'Bizkaia', 'País': 'España', 'PJ': 1, 'PT': 1, 'PC': 1, 'PS': 0, 'PX': 0, 'PG': 1, 'PE': 0, 'PP': 0, 'Min': 90, 'G': 0, 'GP': 0, 'GPP': 0, 'GE': 0, 'TA': 0, 'TR': 0, 'EI': 27, 'EF': 27, 'Altura': 186.0, 'Peso': 80.0}
{'_id': ObjectId('6297a1a1a8704dcbc3d609fb'), 'Apodo': 'Álvaro Fernández', 'Nombre': 'Álvaro Fernández Llorente', 'Fecha': '13/04/1998', 'Ciudad': 'Arnedo', 'Provincia': 'La Rioja', 'País': 'España', 'PJ': 1, 'PT': 1, 'PC': 0, 'PS': 0, 'PX': 1, 'PG': 1, 'PE': 0, 'PP': 0, 'Min': 68, 'G': 0, 'GP': 0, 'GPP': 0, 'GE': 0, 'TA': 0, 'TR': 0, 'EI': 23, 'EF': 23, 'Altura': 186.0, 'Peso': 80.0}
{'_id': ObjectId('6297a1a1a8704dcbc3d60a00'), 'Apodo': 'Lopetegui', 'Nombre': 'Julen Lopetegi Agote', 'Fecha': '28/08/1966', 'Ciudad': 'Asteasu', 'Provincia': 'Gipuzkoa', 'País': 'España', 'PJ': 1, 'PT': 0, 'PC': 0, 'PS': 1, 'PX': 0, 'PG': 0, 'PE': 0, 'PP': 1, 'Min': 26, 'G': 0, 'GP': 0, 'GPP': 0, 'GE': 0, 'TA': 0, 'TR': 0, 'EI': 27, 'EF': 27, 'Altura': 185.0, 'Peso': 84.0}
{'_id': ObjectId('6297a1a1a8704dcbc3d60a1a'), 'Apodo': 'César', 'Nombre': 'César Sánchez Domínguez', 'Fecha': '02/09/1971', 'Ciudad': 'Coria', 'Provincia': 'Cáceres', 'País': 'España', 'PJ': 1, 'PT': 1, 'PC': 1, 'PS': 0, 'PX': 0, 'PG': 0, 'PE': 0, 'PP': 1, 'Min': 90, 'G': 0, 'GP': 0, 'GPP': 0, 'GE': 4, 'TA': 0, 'TR': 0, 'EI': 28, 'EF': 28, 'Altura': 185.0, 'Peso': 82.0}
{'_id': ObjectId('6297a1a1a8704dcbc3d60a2d'), 'Apodo': 'Williams', 'Nombre': 'Iñaki Williams Arthuer', 'Fecha': '15/06/1994', 'Ciudad': 'Bilbao', 'Provincia': 'Bizkaia', 'País': 'España', 'PJ': 1, 'PT': 0, 'PC': 0, 'PS': 1, 'PX': 0, 'PG': 1, 'PE': 0, 'PP': 0, 'Min': 31, 'G': 0, 'GP': 0, 'GPP': 0, 'GE': 0, 'TA': 0, 'TR': 0, 'EI': 21, 'EF': 21, 'Altura': 186.0, 'Peso': 79.0}
{'_id': ObjectId('6297a1a1a8704dcbc3d60a30'), 'Apodo': 'Manu del Moral', 'Nombre': 'Manuel del Moral Fernández', 'Fecha': '25/02/1984', 'Ciudad': 'Jaén', 'Provincia': 'Jaén', 'País': 'España', 'PJ': 1, 'PT': 0, 'PC': 0, 'PS': 1, 'PX': 0, 'PG': 1, 'PE': 0, 'PP': 0, 'Min': 44, 'G': 0, 'GP': 0, 'GPP': 0, 'GE': 0, 'TA': 0, 'TR': 0, 'EI': 27, 'EF': 27, 'Altura': 185.0, 'Peso': 84.0}
{'_id': ObjectId('6297a1a1a8704dcbc3d60a37'), 'Apodo': 'Canito', 'Nombre': 'José Cano López', 'Fecha': '22/04/1956', 'Ciudad': 'Llavorsí', 'Provincia': 'Lleida', 'País': 'España', 'PJ': 1, 'PT': 0, 'PC': 0, 'PS': 1, 'PX': 0, 'PG': 0, 'PE': 0, 'PP': 1, 'Min': 17, 'G': 0, 'GP': 0, 'GPP': 0, 'GE': 0, 'TA': 0, 'TR': 0, 'EI': 22, 'EF': 22, 'Altura': 185.0, 'Peso': 79.0}
{'_id': ObjectId('6297a1a1a8704dcbc3d60a3b'), 'Apodo': 'Heriberto Herrera', 'Nombre': 'Heriberto Herrera Udrizar', 'Fecha': '24/04/1926', 'Ciudad': 'Guarambaré', 'Provincia': 'Extranjero', 'País': 'Paraguay', 'PJ': 1, 'PT': 1, 'PC': 1, 'PS': 0, 'PX': 0, 'PG': 0, 'PE': 1, 'PP': 0, 'Min': 90, 'G': 0, 'GP': 0, 'GPP': 0, 'GE': 0, 'TA': 0, 'TR': 0, 'EI': 30, 'EF': 30, 'Altura': 185.0, 'Peso': 78.0}
{'_id': ObjectId('6297a1a1a8704dcbc3d60a3f'), 'Apodo': 'Aranzubia', 'Nombre': 'Daniel Aranzubia Aguado', 'Fecha': '18/09/1979', 'Ciudad': 'Logroño', 'Provincia': 'La Rioja', 'País': 'España', 'PJ': 1, 'PT': 0, 'PC': 0, 'PS': 1, 'PX': 0, 'PG': 1, 'PE': 0, 'PP': 0, 'Min': 29, 'G': 0, 'GP': 0, 'GPP': 0, 'GE': 0, 'TA': 0, 'TR': 0, 'EI': 24, 'EF': 24, 'Altura': 187.0, 'Peso': 85.0}
{'_id': ObjectId('6297a1a1a8704dcbc3d60a43'), 'Apodo': 'Arizmendi', 'Nombre': 'Ángel Javier Arizmendi de Lucas', 'Fecha': '03/03/1984', 'Ciudad': 'Madrid', 'Provincia': 'Madrid', 'País': 'España', 'PJ': 1, 'PT': 0, 'PC': 0, 'PS': 1, 'PX': 0, 'PG': 1, 'PE': 0, 'PP': 0, 'Min': 26, 'G': 0, 'GP': 0, 'GPP': 0, 'GE': 0, 'TA': 0, 'TR': 0, 'EI': 22, 'EF': 22, 'Altura': 189.0, 'Peso': 76.0}
{'_id': ObjectId('6297a1a1a8704dcbc3d60a52'), 'Apodo': 'Miranda', 'Nombre': 'Juan Miranda González', 'Fecha': '19/01/2000', 'Ciudad': 'Olivares', 'Provincia': 'Sevilla', 'País': 'España', 'PJ': 1, 'PT': 0, 'PC': 0, 'PS': 1, 'PX': 0, 'PG': 1, 'PE': 0, 'PP': 0, 'Min': 44, 'G': 1, 'GP': 0, 'GPP': 0, 'GE': 0, 'TA': 0, 'TR': 0, 'EI': 21, 'EF': 21, 'Altura': 185.0, 'Peso': 76.0}
{'_id': ObjectId('6297a1a1a8704dcbc3d60a5c'), 'Apodo': 'Unai', 'Nombre': 'Unai Vergara Díez-Caballero', 'Fecha': '21/01/1977', 'Ciudad': 'Portugalete', 'Provincia': 'Bizkaia', 'País': 'España', 'PJ': 1, 'PT': 1, 'PC': 1, 'PS': 0, 'PX': 0, 'PG': 0, 'PE': 0, 'PP': 1, 'Min': 90, 'G': 0, 'GP': 0, 'GPP': 0, 'GE': 0, 'TA': 0, 'TR': 0, 'EI': 24, 'EF': 24, 'Altura': 190.0, 'Peso': 90.0}
{'_id': ObjectId('6297a1a1a8704dcbc3d60a67'), 'Apodo': 'Nuñez', 'Nombre': 'Unai Nuñez Gestoso', 'Fecha': '30/01/1997', 'Ciudad': 'Portugalete', 'Provincia': 'Bizkaia', 'País': 'España', 'PJ': 1, 'PT': 0, 'PC': 0, 'PS': 1, 'PX': 0, 'PG': 1, 'PE': 0, 'PP': 0, 'Min': 6, 'G': 0, 'GP': 0, 'GPP': 0, 'GE': 0, 'TA': 0, 'TR': 0, 'EI': 22, 'EF': 22, 'Altura': 186.0, 'Peso': 81.0}
{'_id': ObjectId('6297a1a1a8704dcbc3d60a6a'), 'Apodo': 'Luis García', 'Nombre': 'Luis García García', 'Fecha': '01/05/1964', 'Ciudad': 'Peñaranda de Bracamonte', 'Provincia': 'Salamanca', 'País': 'España', 'PJ': 1, 'PT': 0, 'PC': 0, 'PS': 1, 'PX': 0, 'PG': 0, 'PE': 1, 'PP': 0, 'Min': 17, 'G': 0, 'GP': 0, 'GPP': 0, 'GE': 0, 'TA': 0, 'TR': 0, 'EI': 23, 'EF': 23, 'Altura': 188.0, 'Peso': 76.0}
{'_id': ObjectId('6297a1a1a8704dcbc3d60a79'), 'Apodo': 'Mata', 'Nombre': 'Jaime Mata Arnaiz', 'Fecha': '24/10/1988', 'Ciudad': 'Tres Cantos', 'Provincia': 'Madrid', 'País': 'España', 'PJ': 1, 'PT': 0, 'PC': 0, 'PS': 1, 'PX': 0, 'PG': 1, 'PE': 0, 'PP': 0, 'Min': 2, 'G': 0, 'GP': 0, 'GPP': 0, 'GE': 0, 'TA': 0, 'TR': 0, 'EI': 30, 'EF': 30, 'Altura': 185.0, 'Peso': 75.0}
{'_id': ObjectId('6297a1a1a8704dcbc3d60a81'), 'Apodo': 'Iturraspe', 'Nombre': 'Ander Iturraspe Derteano', 'Fecha': '08/03/1989', 'Ciudad': 'Abadiño', 'Provincia': 'Bizkaia', 'País': 'España', 'PJ': 2, 'PT': 1, 'PC': 1, 'PS': 1, 'PX': 0, 'PG': 1, 'PE': 0, 'PP': 1, 'Min': 134, 'G': 0, 'GP': 0, 'GPP': 0, 'GE': 0, 'TA': 0, 'TR': 0, 'EI': 25, 'EF': 25, 'Altura': 187.0, 'Peso': 78.0}
{'_id': ObjectId('6297a1a1a8704dcbc3d60a8e'), 'Apodo': 'Patxi Salinas', 'Nombre': 'Francisco Salinas Fernández', 'Fecha': '17/11/1963', 'Ciudad': 'Bilbao', 'Provincia': 'Bizkaia', 'País': 'España', 'PJ': 2, 'PT': 1, 'PC': 0, 'PS': 1, 'PX': 1, 'PG': 0, 'PE': 1, 'PP': 1, 'Min': 70, 'G': 0, 'GP': 0, 'GPP': 0, 'GE': 0, 'TA': 0, 'TR': 0, 'EI': 24, 'EF': 24, 'Altura': 185.0, 'Peso': 77.0}
{'_id': ObjectId('6297a1a1a8704dcbc3d60aa5'), 'Apodo': 'Ricardo', 'Nombre': 'Ricardo López Felipe', 'Fecha': '30/12/1971', 'Ciudad': 'Madrid', 'Provincia': 'Madrid', 'País': 'España', 'PJ': 2, 'PT': 0, 'PC': 0, 'PS': 2, 'PX': 0, 'PG': 1, 'PE': 1, 'PP': 0, 'Min': 55, 'G': 0, 'GP': 0, 'GPP': 0, 'GE': 1, 'TA': 0, 'TR': 0, 'EI': 29, 'EF': 30, 'Altura': 188.0, 'Peso': 87.0}
{'_id': ObjectId('6297a1a1a8704dcbc3d60ab1'), 'Apodo': 'Pau López', 'Nombre': 'Pau López Sabata', 'Fecha': '13/12/1994', 'Ciudad': 'Sant Gregori', 'Provincia': 'Girona', 'País': 'España', 'PJ': 2, 'PT': 1, 'PC': 1, 'PS': 1, 'PX': 0, 'PG': 2, 'PE': 0, 'PP': 0, 'Min': 106, 'G': 0, 'GP': 0, 'GPP': 0, 'GE': 0, 'TA': 0, 'TR': 0, 'EI': 23, 'EF': 24, 'Altura': 188.0, 'Peso': 72.0}
{'_id': ObjectId('6297a1a1a8704dcbc3d60ac5'), 'Apodo': 'Mario Suárez', 'Nombre': 'Mario Suárez Mata', 'Fecha': '24/02/1987', 'Ciudad': 'Alcobendas', 'Provincia': 'Madrid', 'País': 'España', 'PJ': 3, 'PT': 2, 'PC': 1, 'PS': 1, 'PX': 1, 'PG': 2, 'PE': 0, 'PP': 1, 'Min': 179, 'G': 0, 'GP': 0, 'GPP': 0, 'GE': 0, 'TA': 1, 'TR': 0, 'EI': 25, 'EF': 28, 'Altura': 185.0, 'Peso': 80.0}
{'_id': ObjectId('6297a1a1a8704dcbc3d60ac8'), 'Apodo': 'Domínguez', 'Nombre': 'Álvaro Domínguez Soto', 'Fecha': '16/05/1989', 'Ciudad': 'Madrid', 'Provincia': 'Madrid', 'País': 'España', 'PJ': 2, 'PT': 0, 'PC': 0, 'PS': 2, 'PX': 0, 'PG': 2, 'PE': 0, 'PP': 0, 'Min': 78, 'G': 0, 'GP': 0, 'GPP': 0, 'GE': 0, 'TA': 1, 'TR': 0, 'EI': 23, 'EF': 23, 'Altura': 189.0, 'Peso': 83.0}
{'_id': ObjectId('6297a1a1a8704dcbc3d60ac9'), 'Apodo': 'De la Red', 'Nombre': 'Rubén de la Red Gutiérrez', 'Fecha': '05/06/1985', 'Ciudad': 'Arroyomolinos', 'Provincia': 'Madrid', 'País': 'España', 'PJ': 3, 'PT': 1, 'PC': 1, 'PS': 2, 'PX': 0, 'PG': 3, 'PE': 0, 'PP': 0, 'Min': 156, 'G': 1, 'GP': 0, 'GPP': 0, 'GE': 0, 'TA': 0, 'TR': 0, 'EI': 22, 'EF': 23, 'Altura': 186.0, 'Peso': 80.0}
{'_id': ObjectId('6297a1a1a8704dcbc3d60ad0'), 'Apodo': 'Fernando', 'Nombre': 'Fernando Sánchez Cipitria', 'Fecha': '12/09/1971', 'Ciudad': 'Madrid', 'Provincia': 'Madrid', 'País': 'España', 'PJ': 2, 'PT': 1, 'PC': 0, 'PS': 1, 'PX': 1, 'PG': 1, 'PE': 0, 'PP': 1, 'Min': 71, 'G': 0, 'GP': 0, 'GPP': 0, 'GE': 0, 'TA': 0, 'TR': 0, 'EI': 26, 'EF': 26, 'Altura': 185.0, 'Peso': 83.0}
{'_id': ObjectId('6297a1a1a8704dcbc3d60ada'), 'Apodo': 'García Calvo', 'Nombre': 'José Antonio García Calvo', 'Fecha': '01/04/1975', 'Ciudad': 'Madrid', 'Provincia': 'Madrid', 'País': 'España', 'PJ': 3, 'PT': 3, 'PC': 3, 'PS': 0, 'PX': 0, 'PG': 1, 'PE': 2, 'PP': 0, 'Min': 270, 'G': 0, 'GP': 0, 'GPP': 0, 'GE': 0, 'TA': 1, 'TR': 0, 'EI': 27, 'EF': 27, 'Altura': 185.0, 'Peso': 78.0}
{'_id': ObjectId('6297a1a1a8704dcbc3d60b07'), 'Apodo': 'Iván Campo', 'Nombre': 'Iván Campo Ramos', 'Fecha': '21/02/1974', 'Ciudad': 'Donostia/San Sebastián', 'Provincia': 'Gipuzkoa', 'País': 'España', 'PJ': 4, 'PT': 3, 'PC': 2, 'PS': 1, 'PX': 1, 'PG': 2, 'PE': 0, 'PP': 2, 'Min': 299, 'G': 0, 'GP': 0, 'GPP': 0, 'GE': 0, 'TA': 1, 'TR': 0, 'EI': 24, 'EF': 26, 'Altura': 185.0, 'Peso': 81.0}
{'_id': ObjectId('6297a1a1a8704dcbc3d60b12'), 'Apodo': 'Téllez', 'Nombre': 'Óscar Téllez Gómez', 'Fecha': '02/04/1975', 'Ciudad': 'Madrid', 'Provincia': 'Madrid', 'País': 'España', 'PJ': 4, 'PT': 1, 'PC': 1, 'PS': 3, 'PX': 0, 'PG': 3, 'PE': 1, 'PP': 0, 'Min': 203, 'G': 0, 'GP': 0, 'GPP': 0, 'GE': 0, 'TA': 0, 'TR': 0, 'EI': 26, 'EF': 26, 'Altura': 186.0, 'Peso': 84.0}
{'_id': ObjectId('6297a1a1a8704dcbc3d60b13'), 'Apodo': 'Arteche', 'Nombre': 'Juan Carlos Arteche Gómez', 'Fecha': '11/04/1957', 'Ciudad': 'Maliaño', 'Provincia': 'Cantabria', 'País': 'España', 'PJ': 4, 'PT': 4, 'PC': 4, 'PS': 0, 'PX': 0, 'PG': 2, 'PE': 1, 'PP': 1, 'Min': 360, 'G': 1, 'GP': 0, 'GPP': 0, 'GE': 0, 'TA': 1, 'TR': 0, 'EI': 29, 'EF': 29, 'Altura': 188.0, 'Peso': 84.0}
{'_id': ObjectId('6297a1a1a8704dcbc3d60b15'), 'Apodo': 'Brais Méndez', 'Nombre': 'Brais Méndez Portela', 'Fecha': '07/01/1997', 'Ciudad': 'Mos', 'Provincia': 'Pontevedra', 'País': 'España', 'PJ': 4, 'PT': 0, 'PC': 0, 'PS': 4, 'PX': 0, 'PG': 3, 'PE': 0, 'PP': 1, 'Min': 54, 'G': 1, 'GP': 0, 'GPP': 0, 'GE': 0, 'TA': 1, 'TR': 0, 'EI': 21, 'EF': 24, 'Altura': 187.0, 'Peso': 76.0}
{'_id': ObjectId('6297a1a1a8704dcbc3d60b1b'), 'Apodo': 'Aldana', 'Nombre': 'Adolfo Aldana Torres', 'Fecha': '05/01/1966', 'Ciudad': 'San Roque', 'Provincia': 'Cádiz', 'País': 'España', 'PJ': 4, 'PT': 3, 'PC': 2, 'PS': 1, 'PX': 1, 'PG': 3, 'PE': 0, 'PP': 1, 'Min': 258, 'G': 1, 'GP': 0, 'GPP': 0, 'GE': 0, 'TA': 0, 'TR': 0, 'EI': 27, 'EF': 28, 'Altura': 188.0, 'Peso': 84.0}
{'_id': ObjectId('6297a1a1a8704dcbc3d60b34'), 'Apodo': 'Marcelino', 'Nombre': 'Marcelino Elena Sierra', 'Fecha': '26/09/1971', 'Ciudad': 'Gijón', 'Provincia': 'Asturias', 'País': 'España', 'PJ': 5, 'PT': 5, 'PC': 5, 'PS': 0, 'PX': 0, 'PG': 4, 'PE': 1, 'PP': 0, 'Min': 450, 'G': 0, 'GP': 0, 'GPP': 0, 'GE': 0, 'TA': 1, 'TR': 0, 'EI': 27, 'EF': 27, 'Altura': 188.0, 'Peso': 84.0}
{'_id': ObjectId('6297a1a1a8704dcbc3d60b3b'), 'Apodo': 'Roberto Martínez', 'Nombre': 'Roberto Juan Martínez Martínez', 'Fecha': '25/09/1945', 'Ciudad': 'Mendoza', 'Provincia': 'Extranjero', 'País': 'Argentina', 'PJ': 5, 'PT': 4, 'PC': 3, 'PS': 1, 'PX': 1, 'PG': 4, 'PE': 1, 'PP': 0, 'Min': 356, 'G': 2, 'GP': 0, 'GPP': 0, 'GE': 0, 'TA': 0, 'TR': 0, 'EI': 27, 'EF': 29, 'Altura': 187.0, 'Peso': 83.0}
{'_id': ObjectId('6297a1a1a8704dcbc3d60b4a'), 'Apodo': 'Gerard', 'Nombre': 'Gerard López Segú', 'Fecha': '12/03/1979', 'Ciudad': 'Granollers', 'Provincia': 'Barcelona', 'País': 'España', 'PJ': 6, 'PT': 3, 'PC': 0, 'PS': 3, 'PX': 3, 'PG': 3, 'PE': 1, 'PP': 2, 'Min': 250, 'G': 2, 'GP': 0, 'GPP': 0, 'GE': 0, 'TA': 0, 'TR': 0, 'EI': 21, 'EF': 21, 'Altura': 185.0, 'Peso': 77.0}
{'_id': ObjectId('6297a1a1a8704dcbc3d60b60'), 'Apodo': 'Marcos Alonso', 'Nombre': 'Marcos Alonso Mendoza', 'Fecha': '28/12/1990', 'Ciudad': 'Madrid', 'Provincia': 'Madrid', 'País': 'España', 'PJ': 7, 'PT': 5, 'PC': 3, 'PS': 2, 'PX': 2, 'PG': 5, 'PE': 0, 'PP': 2, 'Min': 463, 'G': 0, 'GP': 0, 'GPP': 0, 'GE': 0, 'TA': 0, 'TR': 0, 'EI': 27, 'EF': 30, 'Altura': 189.0, 'Peso': 85.0}
{'_id': ObjectId('6297a1a1a8704dcbc3d60b6a'), 'Apodo': 'San José', 'Nombre': 'Mikel San José Domínguez', 'Fecha': '30/05/1989', 'Ciudad': 'Villava', 'Provincia': 'Navarra', 'País': 'España', 'PJ': 7, 'PT': 5, 'PC': 3, 'PS': 2, 'PX': 2, 'PG': 3, 'PE': 1, 'PP': 3, 'Min': 493, 'G': 0, 'GP': 0, 'GPP': 0, 'GE': 0, 'TA': 2, 'TR': 0, 'EI': 25, 'EF': 27, 'Altura': 188.0, 'Peso': 78.0}
{'_id': ObjectId('6297a1a1a8704dcbc3d60b71'), 'Apodo': 'Llorente', 'Nombre': 'Diego Javier Llorente Ríos', 'Fecha': '16/08/1993', 'Ciudad': 'Madrid', 'Provincia': 'Madrid', 'País': 'España', 'PJ': 8, 'PT': 4, 'PC': 2, 'PS': 4, 'PX': 1, 'PG': 6, 'PE': 2, 'PP': 0, 'Min': 395, 'G': 0, 'GP': 0, 'GPP': 0, 'GE': 0, 'TA': 1, 'TR': 1, 'EI': 22, 'EF': 27, 'Altura': 186.0, 'Peso': 75.0}
{'_id': ObjectId('6297a1a1a8704dcbc3d60b72'), 'Apodo': 'Nando', 'Nombre': 'Fernando Muñoz García', 'Fecha': '30/10/1967', 'Ciudad': 'Sevilla', 'Provincia': 'Sevilla', 'País': 'España', 'PJ': 8, 'PT': 7, 'PC': 6, 'PS': 1, 'PX': 1, 'PG': 3, 'PE': 1, 'PP': 4, 'Min': 630, 'G': 0, 'GP': 0, 'GPP': 0, 'GE': 0, 'TA': 2, 'TR': 0, 'EI': 22, 'EF': 24, 'Altura': 187.0, 'Peso': 84.0}
{'_id': ObjectId('6297a1a1a8704dcbc3d60b80'), 'Apodo': 'Molina', 'Nombre': 'José Francisco Molina Jiménez', 'Fecha': '08/08/1970', 'Ciudad': 'València', 'Provincia': 'Valencia', 'País': 'España', 'PJ': 9, 'PT': 7, 'PC': 4, 'PS': 2, 'PX': 3, 'PG': 3, 'PE': 4, 'PP': 2, 'Min': 583, 'G': 0, 'GP': 0, 'GPP': 0, 'GE': 3, 'TA': 1, 'TR': 0, 'EI': 25, 'EF': 29, 'Altura': 185.0, 'Peso': 89.0}
{'_id': ObjectId('6297a1a1a8704dcbc3d60b95'), 'Apodo': 'Kepa', 'Nombre': 'Kepa Arrizabalaga Revuelta', 'Fecha': '03/10/1994', 'Ciudad': 'Ondarroa', 'Provincia': 'Bizkaia', 'País': 'España', 'PJ': 11, 'PT': 9, 'PC': 8, 'PS': 2, 'PX': 1, 'PG': 8, 'PE': 3, 'PP': 0, 'Min': 868, 'G': 0, 'GP': 0, 'GPP': 0, 'GE': 4, 'TA': 2, 'TR': 0, 'EI': 23, 'EF': 26, 'Altura': 186.0, 'Peso': 89.0}
{'_id': ObjectId('6297a1a1a8704dcbc3d60b97'), 'Apodo': 'Merino', 'Nombre': 'Mikel Merino Zazón', 'Fecha': '22/06/1996', 'Ciudad': 'Pamplona', 'Provincia': 'Navarra', 'País': 'España', 'PJ': 11, 'PT': 4, 'PC': 2, 'PS': 7, 'PX': 2, 'PG': 6, 'PE': 3, 'PP': 2, 'Min': 456, 'G': 0, 'GP': 0, 'GPP': 0, 'GE': 0, 'TA': 1, 'TR': 0, 'EI': 24, 'EF': 25, 'Altura': 189.0, 'Peso': 83.0}
{'_id': ObjectId('6297a1a1a8704dcbc3d60ba2'), 'Apodo': 'Vitolo', 'Nombre': 'Víctor Machín Pérez', 'Fecha': '02/11/1989', 'Ciudad': 'Las Palmas de Gran Canaria', 'Provincia': 'Las Palmas', 'País': 'España', 'PJ': 12, 'PT': 7, 'PC': 0, 'PS': 5, 'PX': 7, 'PG': 7, 'PE': 4, 'PP': 1, 'Min': 674, 'G': 4, 'GP': 0, 'GPP': 0, 'GE': 0, 'TA': 2, 'TR': 0, 'EI': 25, 'EF': 28, 'Altura': 185.0, 'Peso': 80.0}
{'_id': ObjectId('6297a1a1a8704dcbc3d60ba4'), 'Apodo': 'López', 'Nombre': 'Juan Manuel López Martínez', 'Fecha': '03/09/1969', 'Ciudad': 'Madrid', 'Provincia': 'Madrid', 'País': 'España', 'PJ': 11, 'PT': 7, 'PC': 6, 'PS': 4, 'PX': 1, 'PG': 2, 'PE': 9, 'PP': 0, 'Min': 748, 'G': 0, 'GP': 0, 'GPP': 1, 'GE': 0, 'TA': 2, 'TR': 1, 'EI': 23, 'EF': 27, 'Altura': 186.0, 'Peso': 79.0}
{'_id': ObjectId('6297a1a1a8704dcbc3d60ba6'), 'Apodo': 'César', 'Nombre': 'César Martín Villar', 'Fecha': '03/04/1977', 'Ciudad': 'Oviedo', 'Provincia': 'Asturias', 'País': 'España', 'PJ': 12, 'PT': 6, 'PC': 5, 'PS': 6, 'PX': 1, 'PG': 9, 'PE': 2, 'PP': 1, 'Min': 723, 'G': 3, 'GP': 0, 'GPP': 0, 'GE': 0, 'TA': 1, 'TR': 0, 'EI': 22, 'EF': 27, 'Altura': 185.0, 'Peso': 81.0}
{'_id': ObjectId('6297a1a1a8704dcbc3d60bd0'), 'Apodo': 'Fabián', 'Nombre': 'Fabián Ruiz Peña', 'Fecha': '03/04/1996', 'Ciudad': 'Los Palacios y Villafranca', 'Provincia': 'Sevilla', 'País': 'España', 'PJ': 15, 'PT': 9, 'PC': 5, 'PS': 6, 'PX': 4, 'PG': 8, 'PE': 7, 'PP': 0, 'Min': 900, 'G': 1, 'GP': 0, 'GPP': 0, 'GE': 0, 'TA': 2, 'TR': 0, 'EI': 25, 'EF': 25, 'Altura': 189.0, 'Peso': 70.0}
{'_id': ObjectId('6297a1a1a8704dcbc3d60bd3'), 'Apodo': 'Diego Tristán', 'Nombre': 'Diego Tristán Herrera', 'Fecha': '05/01/1976', 'Ciudad': 'La Algaba', 'Provincia': 'Sevilla', 'País': 'España', 'PJ': 15, 'PT': 7, 'PC': 2, 'PS': 8, 'PX': 5, 'PG': 10, 'PE': 4, 'PP': 1, 'Min': 770, 'G': 4, 'GP': 0, 'GPP': 0, 'GE': 0, 'TA': 0, 'TR': 0, 'EI': 25, 'EF': 27, 'Altura': 186.0, 'Peso': 79.0}
{'_id': ObjectId('6297a1a1a8704dcbc3d60bdc'), 'Apodo': 'Riera', 'Nombre': 'Albert Riera Ortega', 'Fecha': '15/04/1982', 'Ciudad': 'Manacor', 'Provincia': 'Islas Baleares', 'País': 'España', 'PJ': 16, 'PT': 10, 'PC': 7, 'PS': 6, 'PX': 3, 'PG': 14, 'PE': 1, 'PP': 1, 'Min': 1019, 'G': 4, 'GP': 0, 'GPP': 0, 'GE': 0, 'TA': 0, 'TR': 0, 'EI': 25, 'EF': 27, 'Altura': 187.0, 'Peso': 77.0}
{'_id': ObjectId('6297a1a1a8704dcbc3d60bf1'), 'Apodo': 'Javi Martínez', 'Nombre': 'Javier Martínez Aginaga', 'Fecha': '02/09/1988', 'Ciudad': 'Aiegi', 'Provincia': 'Navarra', 'País': 'España', 'PJ': 18, 'PT': 12, 'PC': 11, 'PS': 6, 'PX': 1, 'PG': 15, 'PE': 1, 'PP': 2, 'Min': 1187, 'G': 0, 'GP': 0, 'GPP': 0, 'GE': 0, 'TA': 3, 'TR': 0, 'EI': 21, 'EF': 25, 'Altura': 190.0, 'Peso': 86.0}
{'_id': ObjectId('6297a1a1a8704dcbc3d60bff'), 'Apodo': 'Negredo', 'Nombre': 'Álvaro Negredo Sánchez', 'Fecha': '20/08/1985', 'Ciudad': 'Madrid', 'Provincia': 'Madrid', 'País': 'España', 'PJ': 21, 'PT': 10, 'PC': 2, 'PS': 11, 'PX': 8, 'PG': 17, 'PE': 3, 'PP': 1, 'Min': 873, 'G': 10, 'GP': 0, 'GPP': 0, 'GE': 0, 'TA': 0, 'TR': 0, 'EI': 24, 'EF': 28, 'Altura': 185.0, 'Peso': 82.0}
{'_id': ObjectId('6297a1a1a8704dcbc3d60c04'), 'Apodo': 'Caminero', 'Nombre': 'José Luis Pérez Caminero', 'Fecha': '08/11/1967', 'Ciudad': 'Madrid', 'Provincia': 'Madrid', 'País': 'España', 'PJ': 21, 'PT': 15, 'PC': 9, 'PS': 6, 'PX': 6, 'PG': 13, 'PE': 7, 'PP': 1, 'Min': 1359, 'G': 8, 'GP': 0, 'GPP': 0, 'GE': 0, 'TA': 4, 'TR': 0, 'EI': 25, 'EF': 28, 'Altura': 187.0, 'Peso': 86.0}
{'_id': ObjectId('6297a1a1a8704dcbc3d60c05'), 'Apodo': 'Unai Simón', 'Nombre': 'Unai Simón Mendibil', 'Fecha': '11/06/1997', 'Ciudad': 'Murgia', 'Provincia': 'Araba/Álava', 'País': 'España', 'PJ': 21, 'PT': 21, 'PC': 20, 'PS': 0, 'PX': 1, 'PG': 11, 'PE': 8, 'PP': 2, 'Min': 1964, 'G': 0, 'GP': 0, 'GPP': 0, 'GE': 16, 'TA': 0, 'TR': 0, 'EI': 24, 'EF': 23, 'Altura': 190.0, 'Peso': 88.0}
{'_id': ObjectId('6297a1a1a8704dcbc3d60c13'), 'Apodo': 'Diego Costa', 'Nombre': 'Diego da Silva Costa', 'Fecha': '07/10/1988', 'Ciudad': 'Lagarto', 'Provincia': 'Extranjero', 'País': 'Brasil', 'PJ': 24, 'PT': 21, 'PC': 5, 'PS': 3, 'PX': 16, 'PG': 14, 'PE': 6, 'PP': 4, 'Min': 1678, 'G': 10, 'GP': 0, 'GPP': 0, 'GE': 0, 'TA': 4, 'TR': 0, 'EI': 25, 'EF': 29, 'Altura': 188.0, 'Peso': 86.0}
{'_id': ObjectId('6297a1a1a8704dcbc3d60c1a'), 'Apodo': 'Urzaiz', 'Nombre': 'Ismael Urzaiz Aranda', 'Fecha': '07/10/1971', 'Ciudad': 'Tudela', 'Provincia': 'Navarra', 'País': 'España', 'PJ': 25, 'PT': 15, 'PC': 2, 'PS': 10, 'PX': 13, 'PG': 14, 'PE': 6, 'PP': 5, 'Min': 1212, 'G': 8, 'GP': 0, 'GPP': 0, 'GE': 0, 'TA': 0, 'TR': 0, 'EI': 25, 'EF': 29, 'Altura': 188.0, 'Peso': 88.0}
{'_id': ObjectId('6297a1a1a8704dcbc3d60c1c'), 'Apodo': 'Kiko', 'Nombre': 'Francisco Miguel Narváez Machón', 'Fecha': '26/04/1972', 'Ciudad': 'Jerez de la Frontera', 'Provincia': 'Cádiz', 'País': 'España', 'PJ': 26, 'PT': 14, 'PC': 5, 'PS': 12, 'PX': 9, 'PG': 17, 'PE': 7, 'PP': 2, 'Min': 1578, 'G': 4, 'GP': 0, 'GPP': 0, 'GE': 0, 'TA': 3, 'TR': 0, 'EI': 20, 'EF': 26, 'Altura': 189.0, 'Peso': 88.0}

In [12]:
#Conversió a Pandas Dataframe
df_filtre_altura = pd.DataFrame(list(mycol.find(myquery)))
print(df_filtre_altura.head())
print(df_filtre_altura.info())

#df_filtre_sabadell = pd.DataFrame(list(mycol.find(myquery)))

                        _id             Apodo                       Nombre  \
0  6297a1a1a8704dcbc3d609f9           Etxeita  Xabier Etxeita Gorritxategi
1  6297a1a1a8704dcbc3d609fb  Álvaro Fernández    Álvaro Fernández Llorente
2  6297a1a1a8704dcbc3d60a00         Lopetegui         Julen Lopetegi Agote
3  6297a1a1a8704dcbc3d60a1a             César      César Sánchez Domínguez
4  6297a1a1a8704dcbc3d60a2d          Williams       Iñaki Williams Arthuer

        Fecha             Ciudad Provincia    País  PJ  PT  PC  ...  G  GP  \
0  31/10/1987  Amorebieta-Etxano   Bizkaia  España   1   1   1  ...  0   0
1  13/04/1998             Arnedo  La Rioja  España   1   1   0  ...  0   0
2  28/08/1966            Asteasu  Gipuzkoa  España   1   0   0  ...  0   0
3  02/09/1971              Coria   Cáceres  España   1   1   1  ...  0   0
4  15/06/1994             Bilbao   Bizkaia  España   1   0   0  ...  0   0

   GPP  GE  TA  TR  EI  EF  Altura  Peso
0    0   0   0   0  27  27   186.0  80.0
1    0   0   0   0  23  23   186.0  80.0
2    0   0   0   0  27  27   185.0  84.0
3    0   4   0   0  28  28   185.0  82.0
4    0   0   0   0  21  21   186.0  79.0

[5 rows x 26 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67 entries, 0 to 66
Data columns (total 26 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   _id        67 non-null     object
 1   Apodo      67 non-null     object
 2   Nombre     67 non-null     object
 3   Fecha      67 non-null     object
 4   Ciudad     67 non-null     object
 5   Provincia  67 non-null     object
 6   País       67 non-null     object
 7   PJ         67 non-null     int64
 8   PT         67 non-null     int64
 9   PC         67 non-null     int64
 10  PS         67 non-null     int64
 11  PX         67 non-null     int64
 12  PG         67 non-null     int64
 13  PE         67 non-null     int64
 14  PP         67 non-null     int64
 15  Min        67 non-null     int64
 16  G          67 non-null     int64
 17  GP         67 non-null     int64
 18  GPP        67 non-null     int64
 19  GE         67 non-null     int64
 20  TA         67 non-null     int64
 21  TR         67 non-null     int64
 22  EI         67 non-null     int64
 23  EF         67 non-null     int64
 24  Altura     67 non-null     float64
 25  Peso       67 non-null     float64
dtypes: float64(2), int64(17), object(7)
memory usage: 13.7+ KB
None

## Exercici 4. Genera un resum estadístic de la informació que conté la base de dades.

**Passem tot el query a Pandas Dataframe.** Es podria fer un drop de la columna \_id, però la deixarem per veure com MongoDB afegeix l'índex de forma automàtica. Després resumim estadísticament els camps de la base de dades que hem convertit en dataframe.

In [13]:
collection = mydb.jugadors
df = pd.DataFrame(list(collection.find()))

In [14]:
print(df.head())

                        _id           Apodo                       Nombre  \
0  6297a1a1a8704dcbc3d609f5          Piquer          Vicente Piquer Mora
1  6297a1a1a8704dcbc3d609f6         Casilla     Francisco Casilla Cortés
2  6297a1a1a8704dcbc3d609f7       Planas II           Javier Planas Abad
3  6297a1a1a8704dcbc3d609f8  Josep Martínez         Josep Martínez Riera
4  6297a1a1a8704dcbc3d609f9         Etxeita  Xabier Etxeita Gorritxategi

        Fecha             Ciudad  Provincia    País  PJ  PT  PC  ...  G  GP  \
0  24/02/1935  Algar de Palancia   Valencia  España   1   1   1  ...  0   0
1  02/10/1986            Alcover  Tarragona  España   1   0   0  ...  0   0
2  03/07/1949          Almudévar     Huesca  España   1   1   1  ...  0   0
3  27/05/1998             Alzira   Valencia  España   1   0   0  ...  0   0
4  31/10/1987  Amorebieta-Etxano    Bizkaia  España   1   1   1  ...  0   0

   GPP  GE  TA  TR  EI  EF  Altura  Peso
0    0   0   0   0  26  26   173.0  71.0
1    0   1   0   0  28  28   192.0  83.0
2    0   0   1   0  25  25   174.0  74.0
3    0   0   0   0  23  23   191.0  78.0
4    0   0   0   0  27  27   186.0  80.0

[5 rows x 26 columns]

In [15]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 654 entries, 0 to 653
Data columns (total 26 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   _id        654 non-null    object
 1   Apodo      654 non-null    object
 2   Nombre     654 non-null    object
 3   Fecha      654 non-null    object
 4   Ciudad     654 non-null    object
 5   Provincia  654 non-null    object
 6   País       654 non-null    object
 7   PJ         654 non-null    int64
 8   PT         654 non-null    int64
 9   PC         654 non-null    int64
 10  PS         654 non-null    int64
 11  PX         654 non-null    int64
 12  PG         654 non-null    int64
 13  PE         654 non-null    int64
 14  PP         654 non-null    int64
 15  Min        654 non-null    int64
 16  G          654 non-null    int64
 17  GP         654 non-null    int64
 18  GPP        654 non-null    int64
 19  GE         654 non-null    int64
 20  TA         654 non-null    int64
 21  TR         654 non-null    int64
 22  EI         654 non-null    int64
 23  EF         654 non-null    int64
 24  Altura     654 non-null    float64
 25  Peso       654 non-null    float64
dtypes: float64(2), int64(17), object(7)
memory usage: 133.0+ KB
None

In [16]:
print(df.describe())

               PJ          PT          PC          PS          PX          PG  \
count  654.000000  654.000000  654.000000  654.000000  654.000000  654.000000
mean    14.155963   11.085627    8.006116    3.070336    3.056575    8.391437
std     22.460518   19.330256   14.271486    5.229901    7.115855   15.330149
min      1.000000    0.000000    0.000000    0.000000    0.000000    0.000000
25%      2.000000    1.000000    1.000000    0.000000    0.000000    1.000000
50%      5.000000    4.000000    3.000000    1.000000    1.000000    3.000000
75%     16.000000   12.000000    9.000000    3.000000    3.000000    9.000000
max    180.000000  161.000000  125.000000   42.000000   59.000000  131.000000

               PE          PP           Min           G          GP  \
count  654.000000  654.000000    654.000000  654.000000  654.000000
mean     3.333333    2.431193   1005.507645    1.960245    0.142202
std      4.831199    3.607972   1669.924268    5.165109    0.873092
min      0.000000    0.000000      1.000000    0.000000    0.000000
25%      0.000000    0.000000     90.000000    0.000000    0.000000
50%      1.000000    1.000000    360.000000    0.000000    0.000000
75%      4.000000    3.000000   1129.250000    1.000000    0.000000
max     33.000000   23.000000  13709.000000   59.000000   11.000000

              GPP          GE          TA          TR          EI          EF  \
count  654.000000  654.000000  654.000000  654.000000  654.000000  654.000000
mean     0.019878    0.905199    0.917431    0.032110   23.949541   26.831804
std      0.139687    6.868723    2.419149    0.184904    2.782392    3.488660
min      0.000000    0.000000    0.000000    0.000000   17.000000   17.000000
25%      0.000000    0.000000    0.000000    0.000000   22.000000   25.000000
50%      0.000000    0.000000    0.000000    0.000000   24.000000   27.000000
75%      0.000000    0.000000    1.000000    0.000000   26.000000   29.000000
max      1.000000  100.000000   24.000000    2.000000   34.000000   36.000000

           Altura        Peso
count  654.000000  654.000000
mean   177.594801   73.915902
std      6.021862    5.713472
min    160.000000   60.000000
25%    173.000000   70.000000
50%    178.000000   74.000000
75%    181.750000   77.000000
max    197.000000   95.000000

In [17]:
#Dades de la bbd
mydb.stats

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'seleccio'), 'stats')